### 2.1 내장 시퀀스 개요
#### 컨테이너 시퀀스  
- 서로 다른 자료형의 항목들을 담을 수 있는 list, tuple, collections, deque형  

#### 균일 시퀀스
- 단 하나의 자료형만 담을 수 있는 str, bytes, bytearray, memoryview, array.array형

#### 가변 시퀀스
- list, bytearray, array.array, collections.deque, memoryview 형

#### 불변 시퀀스
- tuple, str, bytes 형

### 2.2 지능형 리스트와 제너레이터 표현식

In [6]:
import timeit

TIMES = 10000

SETUP = """
symbols = '$¢£¥€¤'
def non_ascii(c):
    return c > 127
"""

def clock(label, cmd):
    res = timeit.repeat(cmd, setup=SETUP, number=TIMES)
    print(label, *('{:.3f}'.format(x) for x in res))

clock('listcomp        :', '[ord(s) for s in symbols if ord(s) > 127]')
clock('listcomp + func :', '[ord(s) for s in symbols if non_ascii(ord(s))]')
clock('filter + lambda :', 'list(filter(lambda c: c > 127, map(ord, symbols)))')
clock('filter + func   :', 'list(filter(non_ascii, map(ord, symbols)))')

listcomp        : 0.048 0.024 0.026
listcomp + func : 0.049 0.048 0.038
filter + lambda : 0.067 0.046 0.046
filter + func   : 0.043 0.039 0.037

In [7]:
colors = ["black", "white"]
sizes = ["S", "M", "L"]
tshirts = [(color, size) for color in colors for size in sizes]
print(tshirts)

for color in colors:
    for size in sizes:
        print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [9]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)
import array
array.array("I", (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [10]:
colors = ["black", "white"]
sizes = ["S", "M", "L"]
for tshirt in ("%s %s" %(c,s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

### 2.3 튜플은 단순한 불변 리스트가 아니다.
#### 2.3.1 레코드로서의 튜플

In [8]:

lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
travel_ids = [("USA", "31195855"),("BRA", "CE342567"), ("ESP", "XDA205856")]
for passport in sorted(travel_ids):
    print("%s/%s"% passport)
    print("{0}/{1}".format(*passport))

for country, _ in travel_ids:
    print(country)

BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA
BRA
ESP

#### 2.3.2 튜플 언패킹

In [9]:
lax_coordinates =(33.9425, - 118.408056)
latitude, longitude =lax_coordinates # 튜플 언패킹
print (latitude)
print (longitude)

33.9425
-118.408056

In [14]:
divmod(20,8)
t= (20,8)
divmod(*t)
quotient, remainder = divmod(*t)
print (quotient, remainder)

2 4

In [16]:
import os
_, filename = os.path.split("/home/luciano/.ssh/idrsa.pub")
filename

'idrsa.pub'

_ 와 같은 더미 변수를 플레이스홀더로 사용해서 관심 없는 부분은 언패킹할 때 무시할 수 있다.

In [23]:
a, b, *rest = range(5)
print ((a, b, rest))
a, b, *rest = range(3)
print ((a, b, rest))
a, b, *rest =  range(2)
print ((a, b, rest))

(0, 1, [2, 3, 4])
(0, 1, [2])
(0, 1, [])

In [26]:
a, *body, c, d = range(5)
print((a, body, c,d))
*head ,b, c, d = range(5)
print((head ,b, c, d))

(0, [1, 2], 3, 4)
([0, 1], 2, 3, 4)

#### 2.3.3 내포된 튜플 언패킹

In [29]:
metro_areas = [
    ("Tokyo", "JP", 36.933, (35.689722, 139.691667)),
    ("Delhi NCR", "IN", 21.935, (28.613889, 77.208889)),
    ("Mexico City", "MX", 20.142, (19.433333, -99.133333)),
    ("New York-Newark", "US", 20.104, (40.808611, -74.020386)),
    ("Sao Paulo", "BR", 19.649, (-23.547778, -46.635833)),    
]

print ("{:15} | {:^9} | {:^9}".format("", "lat. ", "long. "))
fmt = "{:15} | {:9.4f} | {:9.4f}"
for name, cc, pop, (latitued, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |  long.
Mexico City     |   33.9425 |  -99.1333
New York-Newark |   33.9425 |  -74.0204
Sao Paulo       |   33.9425 |  -46.6358

#### 2.3.4 명명된 튜플

In [1]:
from collections import namedtuple
City = namedtuple("City", "name country population coordinates")
tokyo = City("Tokyo", "JP", 36.933, (35.689722, 139.691667))
print (tokyo)
print (tokyo.population)
print (tokyo.coordinates)
print (tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP

In [2]:
City._fields
LatLong = namedtuple("LatLong", "lat long")
delhi_data = ("Delhi NCR", "IN", 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
print (delhi)
delhi._asdict()
for key, value in delhi._asdict().items():
    print (key + ":", value)

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))
name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

#### 2.3.5 불변 리스트로서의 튜플

### 2.4 슬라이싱  
#### 2.4.1 슬라이스 범위 지정시에 마지막 항목이 포함되지 않는 이유

In [6]:
l = [10, 20, 30, 40, 50, 60]
print (l[:2])
print (l[2:])
print (l[:3]) # 3번 인덱스에서 분할
print (l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

#### 2.4.2 슬라이스 객체

In [8]:
s = "bicycle"
print (s[::3])
print (s[::-1])
print (s[::-2])

bye
elcycib
eccb

#### 2.4.3  다차원 슬라이싱과 생략 기호

#### 2.4.4 슬라이스에 할당하기

In [19]:
l = list(range(10))
print (l)
print (l[2:5])
l[2:5] = [20, 30]
print (l)
del l[5:7]
print (l)

l[3::2] = [11,22]
print (l)

#l[2:5] = 100
l[2:5] = [100]
print (l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 22, 9]
[0, 1, 100, 22, 9]

### 2.5 시퀀스에 덧셈과 곱셈 연산자 사용하기

In [23]:
l = [1, 2, 3]
print (l*5)
print (5*"abcd")

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
abcdabcdabcdabcdabcd

#### 2.5.1 리스트의 리스트 만들기

In [37]:
board = [['_']*3 for i in range(3)]
print (board)
board[1][2] = 'X'
print (board)

board = []
for i in range(3):
    row = ["_"] *3
    board.append(row)
print (board)
board[1][2] = 'X'
print (board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [33]:
weird_board = [['_'] * 3 ] *3
print (weird_board)
weird_board[1][2] ='0'
print (weird_board)

row = ['_'] *3
board = []
for i in range(3):
    board.append(row)
print (board)
board[1][2] ='0'
print (board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]
[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

### 2.6 시퀀스의 복합 할당

In [6]:
l = [1,2,3]
print (id(l))
l *= 2
print(l)
print (id(l))

t = (1,2,3)
print (id(t))
t *= 2
print (id(t))

139855612789128
[1, 2, 3, 1, 2, 3]
139855612789128
139855612785792
139855672568520

In [7]:
t = (1,2,[30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [8]:
print (t)

(1, 2, [30, 40, 50, 60])

In [15]:
fruits = ['grape', 'rasberry', 'apple', 'banana']
print (fruits)
new_fu = sorted(fruits)
fruits.sort()

['grape', 'rasberry', 'apple', 'banana']

TypeError: 'list' object is not callable